<!DOCTYPE html>
<html>

<head>
    <script> var characterJson = "{{ json }}" </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Character Sheet</title>
    <link rel="stylesheet" href="/static/bulma-0.6.2/css/bulma.css">
    <link rel="stylesheet" href="/static/fonts.css">
    <link rel="stylesheet" href="/static/characterSheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="/static/characterSheet.js"></script>
</head>

<body>
    <section class="hero is-dark">
        <div class="hero-head">
            <div class="container">
                <h1 class="title" id="characterName">
                    First '<i>Nick</i>' Last
                </h1>
                <h2 class="subtitle" id="characterDefinition">
                    Race Subclass Class
                </h2>
            </div>
        </div>
        <br/>
        <div class="hero-foot">
            <div class="tabs is-toggle is-centered">
                <ul id="navigationTab">
                    <li class="is-active" id="displayCharacterTab"><a onclick="displayCharacter()">Character</a></li>
                    <li id="displayClassTab"><a onclick="displayClass()">Class</a></li>
                    <li id="displaySpellsTab"><a onclick="displaySpells()">Spellbook</a></li>
                    <li id="displayEquipmentTab"><a onclick="displayEquipment()">Equipment</a></li>
                </ul>
            </div>
        </div>
    </section>

    <div class="section" id="mainContent">
        <!--- CHARACTER INFO TAB -->
        <div class="container" id="CharacterInfo">
            <div class="notification" style="text-align: center">
                <h4 id="characterHPText">HP : 15/100</h4>               
                <div class="slideContainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
            <canvas id="classChart" width="400" height="400"></canvas>
            <table class="table" id="skillTable" align="center">
                <tr>
                    <th>Skill</th>
                    <th>Attribute</th>
                    <th>Proficient</th>
                    <th>Expertise</th>
                    <th>Bonus</th></tr>
                <tr>
                    <td>Athletics</td>
                    <td><img src="/static/Content/strengthIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Acrobatics</td>
                    <td><img src="/static/Content/dexterityIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Sleight of Hand</td>
                    <td><img src="/static/Content/dexterityIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Stealth</td>
                    <td><img src="/static/Content/dexterityIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Arcana</td>
                    <td><img src="/static/Content/intelligenceIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>History</td>
                    <td><img src="/static/Content/intelligenceIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Investigation</td>
                    <td><img src="/static/Content/intelligenceIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Nature</td>
                    <td><img src="/static/Content/intelligenceIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Religion</td>
                    <td><img src="/static/Content/intelligenceIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Animal Handling</td>
                    <td><img src="/static/Content/wisdomIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Insight</td>
                    <td><img src="/static/Content/wisdomIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Medicine</td>
                    <td><img src="/static/Content/wisdomIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Perception</td>
                    <td><img src="/static/Content/wisdomIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Survival</td>
                    <td><img src="/static/Content/wisdomIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Deception</td>
                    <td><img src="/static/Content/charismaIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Intimidation</td>
                    <td><img src="/static/Content/charismaIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Performance</td>
                    <td><img src="/static/Content/charismaIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
                <tr>
                    <td>Persuasion</td>
                    <td><img src="/static/Content/charismaIcon.png" width="40px"></td>
                    <td></td>
                    <td></td>
                    <td></td></tr>
            </table>
        </div>
        <!--- SPELL INFO TAB -->
        <div class="container" id="SpellInfo" style="display: none">
            <button class="button" onclick="resetSpellSlots()">Reset Spell Slots!</button>
            <table class="table is-fullwidth" id="spellSlotDisplay"></table>
            <div class="container" id="spellListHolder"></div>
        </div>
        <!--- CLASS INFO TAB -->
        <div class="container" id="ClassInfo" style="display: none">
            <section class="content">
                <div class="container">
                    <h1 class="title" id="classTitle">Class Title</h1>
                    <p class="p" id="classSummary">Class Summary</p>
                </div>
            </section>
            <section class="section">
                <table class="table is-fullwidth" id=levelTable></table>
            </section>
            <section class="content">
                <h1 class="title">Class Abilities</h1>
                <ul id="classAbilityList">
                </ul>
            </section>
        </div>
        <!--- EQUIPMENT INFO TAB -->
        <div class="container" id="EquipmentInfo" style="display: none">
            <section class="content">
            <span class="characterEquipmentDisplay">
                <img class="characterImage" id="characterImage" src="/static/Content/characterMale.png">  
                <div class="box armour">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                            <img src="/static/Content/Icons/shoulder-armor.svg">
                            </figure>
                        </div>
                        <div class="media-content">
                        <h3>
                            ARMOUR
                        </h3>
                        </div>
                    </article>  
                </div>
                <div class="box helmet">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                            <img src="/static/Content/Icons/barbute.svg">
                            </figure>
                        </div>
                        <div class="media-content">
                        <h3>
                            HAT
                        </h3>
                        </div>
                    </article>  
                </div>
                <div class="box ring">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                            <img src="/static/Content/Icons/diamond-ring.svg">
                            </figure>
                        </div>
                        <div class="media-content">
                        <h3>
                            RINGS
                        </h3>
                        </div>
                    </article>  
                </div>
                <div class="box amulet">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                            <img src="/static/Content/Icons/gem-chain.svg">
                            </figure>
                        </div>
                        <div class="media-content">
                        <h3>
                            AMULET
                        </h3>
                        </div>
                    </article>  
                </div>
                <div class="box boots">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                            <img src="/static/Content/Icons/leg-armor.svg">
                            </figure>
                        </div>
                        <div class="media-content">
                        <h3>
                            BOOTS
                        </h3>
                        </div>
                    </article>  
                </div>
                <div class="box shield">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                            <img src="/static/Content/Icons/shield.svg">
                            </figure>
                        </div>
                        <div class="media-content">
                        <h3>
                            SHIELD
                        </h3>
                        </div>
                    </article>  
                </div>
                <div class="box weapon">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                            <img src="/static/Content/Icons/gladius.svg">
                            </figure>
                        </div>
                        <div class="media-content">
                        <h3>
                            WEAPON
                        </h3>
                        </div>
                    </article>  
                </div>
                <div class="box trinkets">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                            <img src="/static/Content/Icons/swap-bag.svg">
                            </figure>
                        </div>
                        <div class="media-content">
                        <h3>
                            TRINKETS
                        </h3>
                        </div>
                    </article>  
                </div>
            </span>
            </section>
            <div class="content">
                <h1 class="title">Inventory</h1>
                <h3 class="title">Gold:
                <input id="playerGold"  type="number" value="" onchange="saveGoldValue()"></input>
                </h3>
                <ul id="characterInventoryList">
                </ul>
            </div>
        </div>
    </div>

    <div class="modal" id="pageNotification">
        <div class="modal-background" onclick="showModal(false)"></div>
        <div class="modal-content" id="pageNotificationContent">
            <!-- Any other Bulma elements you want -->
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="showModal(false)"></button>
    </div>
</body>

</html>
