<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <script>
    $(function (i) {
        var a = "{{ test }}";
        a = a.replace(new RegExp("&quot;", 'g'),"\"");
        a = a.replace(new RegExp("&#39;", 'g'),"\'");
        console.log(a);
        //console.log(a);
        json = $.parseJSON(a)
        console.log(json);
        console.log(json.firstName);
    });
    </script>
</head>
<body>
</body>

</html>