body{
}

h1{
    font-family: "Nodesto";
    font-size: 42;
    color: darkred;
}

h3{
    font-family: "Nodesto";
    font-size: 20;
    color: darkred;
    margin-bottom: 0;
}

h4{
    font-family: "Nodesto";
    font-size: 16;
    color: darkred;
    margin-top: 0;
}

a{
    font-family: "Nodesto";
    font-weight: bold;
    font-size: 20;
    color: darkred;
    margin-bottom: 0;
}

div{
    font-family: "Nodesto";
    font-weight: bold;
    font-size: 20;
    margin-bottom: 0;
}

table{
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

th{
    border: 2px solid black;
    font-family: "Nodesto";
    font-weight: bold;
    font-size: 18;
    color: darkred;
}

td{
    border: 2px solid black;
    font-family: "Scaly Sans";
    font-weight: bold;
    font-size: 16;
    color: black;
}

p{
    font-family: "Scaly Sans";
    font-weight: bold;
    font-size: 14;
}