@font-face{
    font-family: BookInstanity;
    src: url("../Content/5th Edition Font Clones CC/Bookinsanity.otf") format("opentype");
}
@font-face{
    font-family: BookInstanity;
    font-weight: bold;
    src: url("../Content/5th Edition Font Clones CC/Bookinsanity-Bold.otf") format("opentype");
}
@font-face{
    font-family: BookInstanity;
    font-weight: italic;
    src: url("../Content/5th Edition Font Clones CC/Bookinsanity Italic.otf") format("opentype");
}
@font-face{
    font-family: MrEaves;
    src: url("../Content/5th Edition Font Clones CC/Mr Eaves Small Caps.otf") format("opentype");
}
@font-face{
    font-family: Nodesto;
    src: url("../Content/5th Edition Font Clones CC/Nodesto Caps Condensed.otf") format("opentype");
}
@font-face{
    font-family: Nodesto;
    font-weight: bold;
    src: url("../Content/5th Edition Font Clones CC/Nodesto Caps Condensed Bold.otf") format("opentype");
}
@font-face{
    font-family: Nodesto;
    font-weight: italic;
    src: url("../Content/5th Edition Font Clones CC/Nodesto Caps Condensed Italic.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans;
    src: url("../Content/5th Edition Font Clones CC/Scaly Sans.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans;
    font-weight: bold;
    src: url("../Content/5th Edition Font Clones CC/Scaly Sans Bold.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans;
    font-weight: italic;
    src: url("../Content/5th Edition Font Clones CC/Scaly Sans Italic.otf") format("opentype");
}
@font-face{
    font-family: "Solbera Imitation";
    src: url("../Content/5th Edition Font Clones CC/Solbera Imitation.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans Caps;
    src: url("../Content/5th Edition Font Clones CC/Scaly Sans Caps.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans Caps;
    font-weight: bold;
    src: url("../Content/5th Edition Font Clones CC/Scaly Sans Caps Bold.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans Caps;
    font-weight: italic;
    src: url("../Content/5th Edition Font Clones CC/Scaly Sans Caps Italic.otf") format("opentype");
}
@font-face{
    font-family: Zantanna Misdirection;
    src: url("../Content/5th Edition Font Clones CC/Zantanna Misdirection.otf") format("opentype");
}
@font-face{
    font-family: Zantanna Misdirection;
    font-weight: bold;
    src: url("../Content/5th Edition Font Clones CC/Zantanna Misdirection Bold.otf") format("opentype");
}
@font-face{
    font-family: Zantanna Misdirection;
    font-weight: italic;
    src: url("../Content/5th Edition Font Clones CC/Zantanna Misdirection Italic.otf") format("opentype");
}

.menuicon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    font-family: "Scaly Sans";
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: firebrick;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Container holding the image and the text */
.container {
    align-content: center;
    position: relative;
    text-align: center;
    color: Black;
}

.strengthValue{}
.dexterityValue{}
.constitutionValue{}
.wisdomValue{}
.intelligenceValue{}
.charismaValue{}
.levelValue{}
.characterFirstName{}
.characterLastName{}
.characterClassName{}
.characterSubClassName{}

.tooltip-in{
    display: inline;
}

.tooltip-out{
    display: none;
}

.middle-center{
    position: absolute;
    text-align: center;
    top: 58%;
    left: 48%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}
.middle-center-alt{
    position: absolute;
    text-align: center;
    top: 58%;
    left: 48%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}

.top-center{
    position: absolute;
    text-align: center;
    top: 20%;
    left: 48%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}
.top-center-alt{
    position: absolute;
    text-align: center;
    top: 20%;
    left: 48%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}

.top-left{
    position: absolute;
    text-align: center;
    top: 32%;
    left: 21%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}
.top-left-alt{
    position: absolute;
    text-align: center;
    top: 32%;
    left: 21%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}

.top-right{
    position: absolute;
    text-align: center;
    top: 32%;
    right: 21%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}
.top-right-alt{
    position: absolute;
    text-align: center;
    top: 32%;
    right: 21%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}

.bottom-center{
    position: absolute;
    text-align: center;
    bottom: 18%;
    left: 48%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}
.bottom-center-alt{
    position: absolute;
    text-align: center;
    bottom: 18%;
    left: 48%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}

.bottom-left{
    position: absolute;
    text-align: center;
    bottom: 32%;
    left: 21%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}
.bottom-left-alt{
    position: absolute;
    text-align: center;
    bottom: 32%;
    left: 21%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}

.bottom-right{
    position: absolute;
    text-align: center;
    bottom: 32%;
    right: 21%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}
.bottom-right-alt{
    position: absolute;
    text-align: center;
    bottom: 32%;
    right: 21%;
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Scaly Sans Caps;
    font-weight: bold;
    font-size:3vw
}

body{
}

h1{
    font-family: "Nodesto";
    font-size: 42;
    color: darkred;
}

h3{
    font-family: "Nodesto";
    font-size: 20;
    color: darkred;
    margin-bottom: 0;
}

h4{
    font-family: "Nodesto";
    font-size: 16;
    color: darkred;
    margin-top: 0;
}

table{
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

th{
    border: 2px solid black;
    font-family: "Nodesto";
    font-weight: bold;
    font-size: 18;
    color: darkred;
}

td{
    border: 2px solid black;
    font-family: "Scaly Sans";
    font-weight: bold;
    font-size: 16;
    color: black;
}

p{
    font-family: "Scaly Sans";
    font-weight: bold;
    font-size: 14;
}

p::first-letter{
    font-family: "Solbera Imitation";
    font-size: 32;
    font-weight: lighter;
}