@font-face{
    font-family: BookInstanity;
    src: url("../Content/5th Edition Font Clones CC/Bookinsanity.otf") format("opentype");
}
@font-face{
    font-family: MrEaves;
    src: url("../Content/5th Edition Font Clones CC/Mr Eaves Small Caps.otf") format("opentype");
}
@font-face{
    font-family: Nodesto;
    src: url("../Content/5th Edition Font Clones CC/Nodesto Caps Condensed.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans;
    src: url("../Content/5th Edition Font Clones CC/Scaly Sans.otf") format("opentype");
}
@font-face{
    font-family: "Solbera Imitation";
    src: url("../Content/5th Edition Font Clones CC/Solbera Imitation.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans Caps;
    src: url("../Content/5th Edition Font Clones CC/Scaly Sans Caps.otf") format("opentype");
}
@font-face{
    font-family: Zantanna Misdirection;
    src: url("../Content/5th Edition Font Clones CC/Zantanna Misdirection.otf") format("opentype");
}
