<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a id="characterLink">Character</a>
<a id="skillLink">Skills</a>
<a id="spellbookLink">Spellbook</a>
<a id="equipmentLink">Equiptment</a>
</div>

<div id="menuToggle" class="menuicon" onclick="openNav();">
<div class="bar1"></div>
<div class="bar2"></div>
<div class="bar3"></div>
</div>