body{
    min-width: 650px;
    width: auto !important;
    width: 1000px;
}

.title{
    font-family: "Nodesto";
    font-size: 3em;
}

.subtitle{
    font-size: 1.5em;
}

h3{
    font-family: "Nodesto";
    font-size: 20;
    color: darkred;
    margin-bottom: 0;
}

h4{
    font-family: "Nodesto";
    font-size: 16;
    color: darkred;
    margin-top: 0;
}

a{
    font-family: "Nodesto";
    font-weight: bold;
    font-size: 20;
    color: darkred;
    margin-bottom: 0;
}

div{
    font-family: "Nodesto";
    font-weight: bold;
    font-size: 20;
    margin-bottom: 0;
}

.characterEquipmentDisplay{


}

.characterEquipmentDisplay .characterImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

figure.image.is-64x64{
    margin: 0px;
}

.characterEquipmentDisplay .box.armour{
    display: block;
    top: 100px;
    left: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0px;
}
.characterEquipmentDisplay .box.helmet{
    display: block;
    right: 50px;
    top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0px;
}
.characterEquipmentDisplay .box.ring{
    display: block;
    top: 100px;
    right: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0px;
}
.characterEquipmentDisplay .box.amulet{
    display: block;
    top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0px;
}
.characterEquipmentDisplay .box.boots{
    display: block;
    top: 300px;
    right: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0px;
}
.characterEquipmentDisplay .box.shield{
    display: block;
    top: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0px;
}
.characterEquipmentDisplay .box.weapon{
    display: block;
    top: 200px;
    right: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0px;
}
.characterEquipmentDisplay .box.trinkets{
    display: block;
    top: 300px;
    left: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0px;
}

li{
    font-size: 1.5em;
}

.table{
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
    display: block;
}

.table th{
    font-family: "Nodesto";
    font-weight: bold;
    font-size: 1.5em;
    color: grey;
    padding: 0.25em;
    text-align:center;
}

.table td{
    font-family: "Scaly Sans";
    font-weight: bold;
    font-size: 1em;
    color: black;
    vertical-align: top;
    text-align:center;
}

p{
    font-family: "Scaly Sans";
    font-weight: bold;
    font-size: 14;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}