@font-face{
    font-family: BookInstanity;
    src: url("/static/Content/5thEditionFontClonesCC/Bookinsanity.otf") format("opentype");
}
@font-face{
    font-family: MrEaves;
    src: url("/static/Content/5thEditionFontClonesCC/MrEavesSmallCaps.otf") format("opentype");
}
@font-face{
    font-family: Nodesto;
    src: url("/static/Content/5thEditionFontClonesCC/NodestoCapsCondensed.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans;
    src: url("/static/Content/5thEditionFontClonesCC/ScalySans.otf") format("opentype");
}
@font-face{
    font-family: "Solbera Imitation";
    src: url("/static/Content/5thEditionFontClonesCC/SolberaImitation.otf") format("opentype");
}
@font-face{
    font-family: Scaly Sans Caps;
    src: url("/static/Content/5thEditionFontClonesCC/ScalySansCaps.otf") format("opentype");
}
@font-face{
    font-family: Zantanna Misdirection;
    src: url("/static/Content/5thEditionFontClonesCC/ZantannaMisdirection.otf") format("opentype");
}
